/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Outfit:wght@300;400;600&display=swap');*/
:root{
    /* Primary Colors */
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /*Neutral*/
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #eee;
}
body{
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
    background-color: var(--mainBG);
}
.card{
    background-color: var(--cardBG);
    display: flex;
    position: absolute;
    width: 300px;
    height: 600px;
    top: 0;
    left: 0;
}